//
// Test:           material-shadows.styl
// Version:        3.0.1
//
// ------------------------------------

@import "../material-shadows.styl"

/*
 * Shadow -> Default
 * ------------------------------------
 */
.test-shadow-classes
  z-depth-classes()

/*
 * Shadow -> With Transition
 * ------------------------------------
 */
.test-shadow-classes-transition
  z-depth-classes(true)

/*
 * Shadow -> With Focus Class
 * ------------------------------------
 */
.test-shadow-classes-focus
  z-depth-classes(false, true)
