// ================================================================================
//
// Name:           Material Shadows
// Description:    Paper shadows of material design.
// Version:        1.0.0
//
// Author:         Denis Malinochkin
// Git:            https://github.com/mrmlnc/material-shadows
//
// twitter:        @mrmlnc
//
// ================================================================================

// Settings
// --------------------------------------------------------------------------------

$z-depth-css:                          false;
$z-depth-browser-prefix:               false;
$z-depth-animation:                    true;
$z-depth-animation-time:               .28s;
$z-depth-animation-function:           cubic-bezier(.4, 0, .2, 1);



// Shadows
// --------------------------------------------------------------------------------

$z-depth: (
  // z-depth-1
  (0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26)),

  // z-depth-2
  (0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2)),

  // z-depth-3
  (0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24)),

  // z-depth-4
  (0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22)),

  // z-depth-5
  (0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2))
);



// Mixins
// --------------------------------------------------------------------------------

@mixin prefixer ($property, $value, $prefixes) {
  @if $z-depth-browser-prefix {
    @each $prefix in $prefixes {
      @if $prefix == webkit {
        -webkit-#{$property}: $value;
      }
      @else if $prefix == moz {
        -moz-#{$property}: $value;
      }
      @else if $prefix == ms {
        -ms-#{$property}: $value;
      }
      @else if $prefix == o {
        -o-#{$property}: $value;
      }
      @else if $prefix == spec {
        #{$property}: $value;
      }
      @else  {
        @warn "Unrecognized prefix: #{$prefix}";
      }
    }
  } @else {
    #{$property}: $value;
  }
}

// Top & Bottom
@mixin z-depth($depth: 1, $orientation: null) {
  @if $orientation == top {
    @include prefixer(box-shadow, nth(nth($z-depth, $depth), 1), spec);
  }
  @else if $orientation == bottom {
    @include prefixer(box-shadow, nth(nth($z-depth, $depth), 2), spec);
  }
  @else {
    @include prefixer(box-shadow, nth($z-depth, $depth), spec);
  }
}

// Top
@mixin z-depth-top($depth: 1) {
  @include z-depth($depth, top);
}

// Bottom
@mixin z-depth-bottom($depth: 1) {
  @include z-depth($depth, bottom);
}

// Animation
@mixin z-depth-animation($depth-after, $orientation: full) {
  &:hover,
  &:focus {
    @if $orientation == top {
      @include z-depth-top($depth-after);
    }
    @else if $orientation == bottom {
      @include z-depth-bottom($depth-after);
    }
    @else {
      @include z-depth($depth-after);
    }
  }
}



// Classes
// --------------------------------------------------------------------------------

@if $z-depth-css {
  .z-depth {
    @for $i from 1 to length($z-depth) + 1 {
      &-z#{$i} {
        @include z-depth($i);

        &-top {
          @include z-depth-top($i);
        }

        &-bottom {
          @include z-depth-bottom($i);
        }
      }
    }


    // z-depth-animation
    @if $z-depth-animation {
      &-animation {
        &:hover {
          .z-depth-z1,
          .z-depth-z2,
          .z-depth-z3,
          .z-depth-z4,
          .z-depth-z5 {
            @include prefixer(transition, box-shadow  $z-depth-animation-time $z-depth-animation-function, webkit o spec);
          }
        }
      }
    }
  }
}
