// Name:           Material Shadows
// Description:    Paper shadows of material design.
//
// Git:            https://github.com/mrmlnc/material-shadows
//
// ================================================================================



// Settings
// --------------------------------------------------------------------------------

$z-depth-css =                         false;
$z-depth-browser-prefix =              false;
$z-depth-animation =                   true;
$z-depth-animation-time =              .28s;
$z-depth-animation-function =          cubic-bezier(.4, 0, .2, 1);



// Shadows
// --------------------------------------------------------------------------------
$z-depth = {
  // z-depth-1
  z1: {
    top: 0 2px 10px 0 rgba(0, 0, 0, 0.16)
    bottom: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  }
  // z-depth-2
  z2: {
    top: 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    bottom: 0 8px 17px 0 rgba(0, 0, 0, 0.2)
  }
  // z-depth-3
  z3: {
    top: 0 17px 50px 0 rgba(0, 0, 0, 0.19)
    bottom: 0 12px 15px 0 rgba(0, 0, 0, 0.24)
  }
  // z-depth-4
  z4: {
    top: 0 25px 55px 0 rgba(0, 0, 0, 0.21)
    bottom: 0 16px 28px 0 rgba(0, 0, 0, 0.22)
  }
  // z-depth-5
  z5: {
    top: 0 40px 77px 0 rgba(0, 0, 0, 0.22)
    bottom: 0 27px 24px 0 rgba(0, 0, 0, 0.2)
  }
}



// Mixins
// --------------------------------------------------------------------------------

prefixer($property, $value, $prefixes)
  if $z-depth-browser-prefix
    for $prefix in $prefixes
      if $prefix == webkit
        -webkit-{$property}: $value
      else if $prefix == moz
        -moz-{$property}: $value
      else if $prefix == ms
        -ms-{$property}: $value
      else if $prefix == o
        -o-{$property}: $value
      else if $prefix == spec
        {$property}: $value
  else
    {$property}: $value

// Top & Bottom
z-depth($depth = 1, $orientation = null)
  $value = $z-depth["z" + $depth]

  if $orientation == top
    prefixer(box-shadow, $value["top"], spec)
  else if $orientation == bottom
    prefixer(box-shadow, $value["bottom"], spec)
  else
    prefixer(box-shadow, s(join(', ', $value["top"], $value["bottom"])), spec)

// Top
z-depth-top($depth = 1)
  z-depth($depth, top)

// Bottom
z-depth-bottom($depth = 1)
  z-depth($depth, bottom)

// Animation
z-depth-animation($depth-after, $orientation = full)
  &:hover,
  &:focus
    if $orientation == top
      z-depth-top($depth-after)
    else if $orientation == bottom
      z-depth-bottom($depth-after)
    else
      z-depth($depth-after)



// Classes
// --------------------------------------------------------------------------------

if $z-depth-css
  .z-depth
    for $i in (1)..(length($z-depth))
      &-z{$i}
        z-depth($i)

        &-top
          z-depth-top($i)

        &-bottom
          z-depth-bottom($i)

    // z-depth-animation
    if $z-depth-animation
      &-animation
        &:hover
          .z-depth-z1,
          .z-depth-z2,
          .z-depth-z3,
          .z-depth-z4,
          .z-depth-z5
            prefixer(transition, box-shadow $z-depth-animation-time $z-depth-animation-function, webkit o spec)
